<footer class="py-4 mt-2" style="background-color: #fff159;">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4 class="mb-4" style="color: #2d3377; font-weight: bold">Payment Methods</h4>
          <img src="./resources/visa.png" class="me-3 mb-2" alt="Visa" width="40">
          <img src="./resources/mastercard-logo.png" class="me-3 mb-2" alt="Mastercard" width="40">
          <img src="./resources/pix.png" class="me-3 mb-2" alt="PIX" width="40">
          <img src="./resources/paypal.png" class="mb-2" alt="Paypal" width="40">
        </div>
        <div class="col-md-3">
          <h4 class="mb-4" style="color: #2d3377; font-weight: bold">Quick Links</h4>
          <ul class="list-unstyled">
            <li>
              <a style="color: #2d3377" href="#">Help</a>
            </li>
            <li>
              <a style="color: #2d3377" href="#">Shipping Policy</a>
            </li>
            <li>
              <a style="color: #2d3377" href="#">Cancelation & Returns</a>
            </li>
            <li>
              <a style="color: #2d3377" href="#">FAQ</a>
            </li>
            <li>
              <a style="color: #2d3377" href="#">Privacy and Policy</a>
            </li>
            <li>
             <a style="color: #2d3377" href="#">Disclamer</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4 class="mb-4" style="color: #2d3377; font-weight: bold">Let`s be Social</h4>
          <ul class="list-unstyled">
            <li>
              <a href="#" style="color: #2d3377" >
                <img src="./resources/facebook.png" class="me-3 mb-2" alt="Facebook" width="30">Facebook
              </a>
            </li>
            <li>
              <a href="#" style="color: #2d3377">
                <img src="./resources/whatsapp.png" class="me-3 mb-2" alt="WhatsApp" width="30">WhatsApp
              </a>
            </li>
            <li>
              <a href="#" style="color: #2d3377">
                <img src="./resources/twitter.png" class="me-3 mb-2" alt="Twitter" width="30">Twitter
              </a>
            </li>
            <li>
              <a href="#" style="color: #2d3377">
                <img src="./resources/instagram.png" class="me-3 mb-2" alt="Instagram" width="30">Instagram
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-2">
          <h4 class="mb-4" style="color: #2d3377; font-weight: bold">Contact Us</h4>
          <p style="color: #2d3377">
            <img src="resources/geo-alt-fill.svg" class="me-3 mb-2" alt="Localizacao">
            </i>R. Gomes de Carvalho, 1510 - Vila Olímpia, São Paulo
          </p>
          <p style="color: #2d3377">
            <img src="resources/telephone-fill.svg" class="me-3 mb-2" alt="Phone">
            </i>(11) 1234-5678
          </p>
          <p  class="d-flex flex-row" style="color: #2d3377">
            <img src="resources/envelope-fill.svg" class="me-3 mb-2" alt="Envelope">
            </i>contato@mercadoLivre.com
          </p>
        </div>
      </div>
    </div>
  </footer>