
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-9 my-lg-3">
        <!-- Painel de cards de produtos -->
        <h3 class="text-center" style="color: #2d3377; font-weight: bold">Products</h3>
          <!-- Cards dos produtos -->
          <!-- Cada card com tamanho de 4 colunas -->
          <div class="row row-cols-1 row-cols-md-3 g-3">
            <div class="col">
              <div class="card h-100">
                <img style="background-color: #f2f2f2; padding: 1rem" height="238px" src="./resources/MacBook.jpeg" class="card-img-top" alt="Produto 2">
                <div class="card-body">
                  <h5 class="card-title">Apple MacBook Pro 16"</h5>
                  <div class="mb-2">
                    <img width="12px" src="resources/starFill.svg" alt="StarFill">
                    <img width="12px" src="resources/starFill.svg" alt="StarFill">
                    <img width="12px" src="resources/starFill.svg" alt="StarFill">
                    <img width="12px" src="resources/starFill.svg" alt="StarFill">
                    <img width="12px" src="resources/starHalf.svg" alt="StarFill">
                  </div>
                  <h5 style="color: #2d3377" class="card-text">R$ 19.699,00</h5>
                  <p class="card-text">Tudo o que você faz no MacBook Pro fica de encher os olhos, graças à tela Retina envolvente de 16 polegadas com pretos e brancos muito intensos e até 500 nits de brilho.</p>
                  <a href="#" class="btn btn-primary">Buy</a>
                  <a href="/product" class="btn btn-primary">See More</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
              <img style="background-color: #f2f2f2; padding: 2rem" height="238px" src="./resources/Frigobar.jpeg" class="card-img-top" alt="Produto 2">
              <div class="card-body">
                <h5 class="card-title">Frigobar Brastemp Retrô, 76L</h5>
                <div class="mb-2">
                  <img width="12px" src="resources/starFill.svg" alt="StarFill">
                  <img width="12px" src="resources/starFill.svg" alt="StarFill">
                  <img width="12px" src="resources/starFill.svg" alt="StarFill">
                  <img width="12px" src="resources/starHalf.svg" alt="StarFill">
                  <img width="12px" src="resources/star.svg" alt="StarFill">
                </div>
                <h5 style="color: #2d3377" class="card-text">R$ 1.979,00</h5>
                <p class="card-text">Com um design super elegante e inspirado nas décadas passada, o Frigobar Brastemp Retrô BRA08BY irá deixa o ambiente ainda mais sofisticado.</p>
                <a href="#" class="btn btn-primary">Buy</a>
              </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img style="background-color: #f2f2f2; padding: 1rem" height="238px" src="./resources/ps5.png" class="card-img-top" alt="Produto 2">
                <div class="card-body">
                  <h5 class="card-title">Sony PlayStation 5 Digital</h5>
                  <div class="mb-2">
                    <img width="12px" src="resources/starFill.svg" alt="StarFill">
                    <img width="12px" src="resources/starFill.svg" alt="StarFill">
                    <img width="12px" src="resources/starFill.svg" alt="StarFill">
                    <img width="12px" src="resources/starFill.svg" alt="StarFill">
                    <img width="12px" src="resources/star.svg" alt="StarFill">
                  </div>
                  <h5 style="color: #2d3377" class="card-text">R$ 4.209,00</h5>
                  <p class="card-text">Com seu console PlayStation 5 você terá entretenimento garantido todos os dias. Sua tecnologia foi criada para colocar novos desafios para jogadores novatos e especialistas.</p>
                  <a href="#" class="btn btn-primary">Buy</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img style="background-color: #f2f2f2; padding: 1rem" height="238px" src="./resources/Nike.png" class="card-img-top" alt="Produto 2">
                <div class="card-body">
                  <h5 class="card-title">Nike Flex Experience</h5>
                  <div class="mb-2">
                    <img width="12px" src="resources/starFill.svg" alt="StarFill">
                    <img width="12px" src="resources/starFill.svg" alt="StarFill">
                    <img width="12px" src="resources/starFill.svg" alt="StarFill">
                    <img width="12px" src="resources/star.svg" alt="StarFill">
                    <img width="12px" src="resources/star.svg" alt="StarFill">
                  </div>
                  <h5 style="color: #2d3377" class="card-text">R$ 399,00</h5>
                  <p class="card-text">Confortavelmente zen, assim como todas as corridas devem ser. Neste Nike Flex Experience Run 11 Next Nature, criamos um design leve e limpo, tão confortável quanto parece.</p>
                  <a href="#" class="btn btn-primary">Buy</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img style="background-color: #f2f2f2; padding: 2rem" height="238px" src="./resources/pngwing.com.png" class="card-img-top" alt="Produto 2">
                <div class="card-body">
                  <h5 class="card-title">Fritadeira Sem Óleo Air Fryer 4</h5>
                  <div class="mb-2">
                    <img width="12px" src="resources/starFill.svg" alt="StarFill">
                    <img width="12px" src="resources/starFill.svg" alt="StarFill">
                    <img width="12px" src="resources/starFill.svg" alt="StarFill">
                    <img width="12px" src="resources/starHalf.svg" alt="StarFill">
                    <img width="12px" src="resources/star.svg" alt="StarFill">
                  </div>
                  <h5 style="color: #2d3377" class="card-text">R$ 336,26</h5>
                  <p class="card-text">Prepare receitas do café da manhã ao jantar com a Air Fryer Mondial. E o melhor: de forma prática, rápida e saudável!</p>
                  <a href="#" class="btn btn-primary">Buy</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img style="background-color: #f2f2f2; padding: 1rem" height="238px" src="./resources/pro-wireless-carbon-gallery-1.png" class="card-img-top" alt="Produto 2">
                <div class="card-body">
                  <h5 class="card-title">Logitech G PRO Wireless</h5>
                  <div class="mb-2">
                    <img width="12px" src="resources/starFill.svg" alt="StarFill">
                    <img width="12px" src="resources/starFill.svg" alt="StarFill">
                    <img width="12px" src="resources/starFill.svg" alt="StarFill">
                    <img width="12px" src="resources/starFill.svg" alt="StarFill">
                    <img width="12px" src="resources/star.svg" alt="StarFill">
                  </div>
                  <h5 style="color: #2d3377" class="card-text">R$ 552,00</h5>
                  <p class="card-text">O mouse gamer PRO Wireless foi criado para oferecer desempenho de ponta de acordo com os exigentes padrões de alguns dos maiores profissionais de e-sports do mundo.</p>
                  <a href="#" class="btn btn-primary">Buy</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img style="background-color: #f2f2f2; padding: 1rem" height="238px" src="./resources/iPad.png" class="card-img-top" alt="Produto 2">
                <div class="card-body">
                  <h5 class="card-title">Apple iPad 9ª Geração 64gb</h5>
                  <div class="mb-2">
                    <img width="12px" src="resources/starFill.svg" alt="StarFill">
                    <img width="12px" src="resources/starFill.svg" alt="StarFill">
                    <img width="12px" src="resources/starFill.svg" alt="StarFill">
                    <img width="12px" src="resources/starFill.svg" alt="StarFill">
                    <img width="12px" src="resources/starFill.svg" alt="StarFill">
                  </div>
                  <h5 style="color: #2d3377" class="card-text">R$ 3.407,00</h5>
                  <p class="card-text">Cheio de potência. Fácil de usar. Versátil. O novo iPad vem com a espetacular tela Liquid Retina de 10,2 polegadas</p>
                  <a href="#" class="btn btn-primary">Buy</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img style="background-color: #f2f2f2; padding: 2rem" height="238px" src="./resources/blueYeti.png" class="card-img-top" alt="Produto 2">
                <div class="card-body">
                  <h5 class="card-title">Microfone Blue Yeti condensador multi-padrão blackout</h5>
                  <div class="mb-2">
                    <img width="12px" src="resources/starFill.svg" alt="StarFill">
                    <img width="12px" src="resources/starFill.svg" alt="StarFill">
                    <img width="12px" src="resources/starFill.svg" alt="StarFill">
                    <img width="12px" src="resources/starFill.svg" alt="StarFill">
                    <img width="12px" src="resources/starFill.svg" alt="StarFill">
                  </div>
                  <h5 style="color: #2d3377" class="card-text">R$ 899,90</h5>
                  <p class="card-text">A comunicação clara e poderosa é importante para todas as organizações. Os microfones da Blue lhe permitem capturar e transmitir com uma incrível qualidade de som.</p>
                  <a href="#" class="btn btn-primary">Buy</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img style="background-color: #f2f2f2; padding: 1rem" height="238px" src="./resources/RedragonFizz.png" class="card-img-top" alt="Produto 2">
                <div class="card-body">
                  <h5 class="card-title">Redragon Fizz K617 QWERTY</h5>
                  <div class="mb-2">
                    <img width="12px" src="resources/starFill.svg" alt="StarFill">
                    <img width="12px" src="resources/starFill.svg" alt="StarFill">
                    <img width="12px" src="resources/starFill.svg" alt="StarFill">
                    <img width="12px" src="resources/starFill.svg" alt="StarFill">
                    <img width="12px" src="resources/starFill.svg" alt="StarFill">
                  </div>
                  <h5 style="color: #2d3377" class="card-text">R$ 255,00</h5>
                  <p class="card-text">Aproveite seus jogos em outro nível com a Redragon, uma reconhecida marca especializada em fornecer a melhor experiência de jogo para o público gamer há mais de 20 anos</p>
                  <a href="#" class="btn btn-primary">Buy</a>
                </div>
              </div>
            </div>
        </div>
        <div class="text-center mt-3">
          <a href="#" class="btn btn-primary">See more</a>
        </div>
      </div>
      <div class="col-lg-3 my-3">
        <!-- Painel "Most reviewed items" -->
        <h3 style="font-weight: bold; color: #2d3377">Most reviewed items</h3>
        <div class="col mb-3">
          <div class="card">
            <img style="background-color: #f2f2f2; height: 280px" src="./resources/TLOU.png" class="card-img-top p-4" alt="Produto 2">
            <div class="card-body">
              <h5 class="card-title">The Last of Us Part II PS4 </h5>
              <div class="mb-2 d-flex flex-row">
                <img width="12px" src="resources/starFill.svg" alt="StarFill">
                <img width="12px" src="resources/starFill.svg" alt="StarFill">
                <img width="12px" src="resources/starFill.svg" alt="StarFill">
                <img width="12px" src="resources/starFill.svg" alt="StarFill">
                <img width="12px" src="resources/starHalf.svg" alt="StarFill">
                <div class="m-2">(556)</div>
              </div>
              <h5 style="color: #2d3377" class="card-text">R$ 144,99</h5>
              <a href="#" class="btn btn-primary">Buy</a>
            </div>
          </div>
        </div>
        <div class="col mb-3">
          <div class="card">
            <img style="background-color: #f2f2f2" src="./resources/pro-wireless-carbon-gallery-1.png" class="card-img-top" alt="Produto 2">
            <div class="card-body">
              <h5 class="card-title">Apple MacBook Pro 16"</h5>
              <div class="mb-2 d-flex flex-row">
                <img width="12px" src="resources/starFill.svg" alt="StarFill">
                <img width="12px" src="resources/starFill.svg" alt="StarFill">
                <img width="12px" src="resources/starFill.svg" alt="StarFill">
                <img width="12px" src="resources/starFill.svg" alt="StarFill">
                <img width="12px" src="resources/star.svg" alt="StarFill">
                <div class="m-2">(200)</div>
              </div>
              <h5 style="color: #2d3377" class="card-text">R$ 552,00</h5>
              <a href="#" class="btn btn-primary">Buy</a>
            </div>
          </div>
        </div>
        <div class="col mb-3">
          <div class="card">
            <img style="background-color: #f2f2f2" src="./resources/MacBook.jpeg" class="card-img-top" alt="Produto 2">
            <div class="card-body">
              <h5 class="card-title">Apple MacBook Pro 16"</h5>
              <div class="mb-2 d-flex flex-row">
                <img width="12px" src="resources/starFill.svg" alt="StarFill">
                <img width="12px" src="resources/starFill.svg" alt="StarFill">
                <img width="12px" src="resources/starFill.svg" alt="StarFill">
                <img width="12px" src="resources/starFill.svg" alt="StarFill">
                <img width="12px" src="resources/starHalf.svg" alt="StarFill">
                <div class="m-2">(150)</div>
              </div>
              <h5 style="color: #2d3377" class="card-text">R$ 19.699,00</h5>
              <a href="#" class="btn btn-primary">Buy</a>
            </div>
          </div>
        </div>
        <div class="col mb-3">
          <div class="card">
            <img height="245" style="background-color: #f2f2f2" src="./resources/ps5.png" class="card-img-top" alt="Produto 2">
            <div class="card-body">
              <h5 class="card-title">Sony PlayStation 5 Digital</h5>
              <div class="mb-2 d-flex flex-row">
                <img width="12px" src="resources/starFill.svg" alt="StarFill">
                <img width="12px" src="resources/starFill.svg" alt="StarFill">
                <img width="12px" src="resources/starFill.svg" alt="StarFill">
                <img width="12px" src="resources/starFill.svg" alt="StarFill">
                <img width="12px" src="resources/starHalf.svg" alt="StarFill">
                <div class="m-2">(100)</div>
              </div>
              <h5 style="color: #2d3377" class="card-text">R$ 4.209,00</h5>
              <a href="#" class="btn btn-primary">Buy</a>
            </div>
          </div>
        </div>
        <div class="text-center mt-3">
          <a href="#" class="btn btn-primary">See More</a>
        </div>
        
        <div class="form shadow bg-white rounded text-center mt-4 p-2">
          <div class="form-group" style="font-weight: bold; color: #2d3377; text-align: center;">
            <label>NewsLetter</label>
          </div>
          <div class="form-group mb-2" style="text-align: center">
            <label style="font-size: 0.8rem; color: lightgray">Signup for newsletter!</label>
          </div>
          <div class="form-group">
            <input type="email" class="form-control mb-2" placeholder="Enter your e-mail">
            <button type="submit" class="btn btn-primary">Join Now!</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>