
  <!-- Painel "Most reviewed items" -->
  <h3 style="font-weight: bold; color: #2d3377">Most reviewed items</h3>
  <div class="col mb-3">
    <div class="card">
      <img style="background-color: #f2f2f2; height: 280px" src="./resources/TLOU.png" class="card-img-top p-4" alt="Produto 2">
      <div class="card-body">
        <h5 class="card-title">The Last of Us Part II PS4 </h5>
        <div class="mb-2 d-flex flex-row">
          <img width="12px" src="resources/starFill.svg" alt="StarFill">
          <img width="12px" src="resources/starFill.svg" alt="StarFill">
          <img width="12px" src="resources/starFill.svg" alt="StarFill">
          <img width="12px" src="resources/starFill.svg" alt="StarFill">
          <img width="12px" src="resources/starHalf.svg" alt="StarFill">
          <div class="m-2">(556)</div>
        </div>
        <h5 style="color: #2d3377" class="card-text">R$ 144,99</h5>
        <a href="#" class="btn btn-primary">Buy</a>
      </div>
    </div>
  </div>
  <div class="col mb-3">
    <div class="card">
      <img style="background-color: #f2f2f2" src="./resources/pro-wireless-carbon-gallery-1.png" class="card-img-top" alt="Produto 2">
      <div class="card-body">
        <h5 class="card-title">Apple MacBook Pro 16"</h5>
        <div class="mb-2 d-flex flex-row">
          <img width="12px" src="resources/starFill.svg" alt="StarFill">
          <img width="12px" src="resources/starFill.svg" alt="StarFill">
          <img width="12px" src="resources/starFill.svg" alt="StarFill">
          <img width="12px" src="resources/starFill.svg" alt="StarFill">
          <img width="12px" src="resources/star.svg" alt="StarFill">
          <div class="m-2">(200)</div>
        </div>
        <h5 style="color: #2d3377" class="card-text">R$ 552,00</h5>
        <a href="#" class="btn btn-primary">Buy</a>
      </div>
    </div>
  </div>
  <div class="col mb-3">
    <div class="card">
      <img style="background-color: #f2f2f2" src="./resources/MacBook.jpeg" class="card-img-top" alt="Produto 2">
      <div class="card-body">
        <h5 class="card-title">Apple MacBook Pro 16"</h5>
        <div class="mb-2 d-flex flex-row">
          <img width="12px" src="resources/starFill.svg" alt="StarFill">
          <img width="12px" src="resources/starFill.svg" alt="StarFill">
          <img width="12px" src="resources/starFill.svg" alt="StarFill">
          <img width="12px" src="resources/starFill.svg" alt="StarFill">
          <img width="12px" src="resources/starHalf.svg" alt="StarFill">
          <div class="m-2">(150)</div>
        </div>
        <h5 style="color: #2d3377" class="card-text">R$ 19.699,00</h5>
        <a href="#" class="btn btn-primary">Buy</a>
      </div>
    </div>
  </div>
  <div class="col mb-3">
    <div class="card">
      <img height="245" style="background-color: #f2f2f2" src="./resources/ps5.png" class="card-img-top" alt="Produto 2">
      <div class="card-body">
        <h5 class="card-title">Sony PlayStation 5 Digital</h5>
        <div class="mb-2 d-flex flex-row">
          <img width="12px" src="resources/starFill.svg" alt="StarFill">
          <img width="12px" src="resources/starFill.svg" alt="StarFill">
          <img width="12px" src="resources/starFill.svg" alt="StarFill">
          <img width="12px" src="resources/starFill.svg" alt="StarFill">
          <img width="12px" src="resources/starHalf.svg" alt="StarFill">
          <div class="m-2">(100)</div>
        </div>
        <h5 style="color: #2d3377" class="card-text">R$ 4.209,00</h5>
        <a href="#" class="btn btn-primary">Buy</a>
      </div>
    </div>
  </div>
  <div class="text-center mt-3">
    <a href="#" class="btn btn-primary">See More</a>
  </div>
  
  <div class="form shadow bg-white rounded text-center mt-4 p-2">
    <div class="form-group" style="font-weight: bold; color: #2d3377; text-align: center;">
      <label>NewsLetter</label>
    </div>
    <div class="form-group mb-2" style="text-align: center">
      <label style="font-size: 0.8rem; color: lightgray">Signup for newsletter!</label>
    </div>
    <div class="form-group">
      <input type="email" class="form-control mb-2" placeholder="Enter your e-mail">
      <button type="submit" class="btn btn-primary">Join Now!</button>
    </div>
  </div>