
<header class="navbar navbar-expand-lg navbar-light" style="background-color: #fff159">
    <div class="container-fluid justify-content-between">
      <!-- Logo -->
      <a class="navbar-brand" href="/">
        <img width="180px" src="./resources/mercado-livre-88.svg" alt="Logo">
      </a>
  
      <!-- Botão para exibir o menu reduzido em telas menores -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Itens do menu -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <form class="row my-2 mx-lg-2">
              <div style="color: #2d3377; font-weight: bold">
                Welcome Guest!
              </div>
              <!-- Barra de pesquisa -->
              <div class="d-flex flex-row">
                <input id="searchBar" class="form-control me-2" type="search" placeholder="Product" aria-label="Search">
                <button type="button" onclick="pesquisarProdutos()" class="btn btn-outline-primary">Search</button>
              </div>
            </form>
          </li>
        </ul>
        <div class="ms-auto align-items-center">
            <div class="d-flex flex-row" style="color: #2d3377">
                <div class="nav-item">
                    <a class="nav-link mx-2" style="font-weight: bold" href="#">Sign In</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link mx-2" style="font-weight: bold" href="#">Register</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link mx-2" style="font-weight: bold" href="#">My Account</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link mx-2" style="font-weight: bold" href="#">Track Order</a>
                </div>
            </div>
            <div class="d-flex flex-row my-sm-2">
            <div class="nav-item mt-lg-2" style="color: #2d3377; font-size: small">
                <div class="nav-link mx-2">
                    Cash on Delivery | 30 Day Return
                </div>
                <div class="nav-link mx-2">
                    27/7 Customer Services 1800 00 11 12
                </div>
                <div class="nav-link mx-2">
                    <b>Aluno:</b> Giovanna Nascimento Reis 
                </div>
                <div class="nav-link mx-2">
                    <b>Curso:</b> Engenharia de Controle e Automação
                </div>
                <div class="nav-link mx-2">
                    <b>Matrícula:</b> 691762
                </div>
            </div>
            <div class="nav-item" style="width: 130px">
              <div class="nav-link mx-2" style="padding-top: 6px">
                <button type="button" class="btn btn-primary position-relative w-100">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus-fill" viewBox="0 0 16 16">
                    <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z"/>
                  </svg>
                  My Cart <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary">0 <span class="visually-hidden">cart items</span></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>